<div class="row" ng-if="!authService.isLoggedIn()">
    <div class="col-md-4 col-md-offset-1 border">
        <form action="" name="loginUserForm">
            <label for="login-email">Email</label>
            <input type="email" id="login-email" required="required" class="form-control" ng-model="loginUser.email"/>
            <br/>
            <label for="login-pass">Password</label>
            <input type="password" id="login-pass" required="required" class="form-control" ng-model="loginUser.password"/>
            <br/>
            <button class="btn btn-primary" ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-2 border" ng-if="!authService.isLoggedIn()">
        <form action="" name="registerUserForm">
            <label for="email">*Email</label>
            <input type="email" id="email" required="required" class="form-control" ng-model="registerUser.email"/>
            <br/>
            <label for="reg-password">*Password</label>
            <input type="password" id="reg-password" required="required" min-length="6" max-length="100" class="form-control" ng-model="registerUser.password"/>
            <br/>
            <label for="reg-confirm-pass">*Confirm Password</label>
            <input type="password" id="reg-confirm-pass" required="required" min-length="6" max-length="100" class="form-control" ng-model="registerUser.confirmPassword"/>
            <br/>
            <label for="reg-name">Name</label>
            <input type="password" id="reg-name" class="form-control" ng-model="registerUser.name"/>
            <br/>
            <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="register(registerUser)">Register</button>
        </form>
    </div>
</div>


<div ng-if="authService.isLoggedIn()">
    <div class="list-group" ng-repeat="issue in myIssues.Issues ">
        <div class="list-group">
            <a href="#/issues/{{issue.Id}}" class="list-group-item ">
                <p class="list-group-item-text pull-right">{{issue.Priority.Name}}</p>
                <h4 class="list-group-item-heading">{{issue.Title}}</h4>
                <p class="list-group-item-text">opened by {{issue.Author.Username}}</p>
            </a>
        </div>
    </div>
    <pagination total-items="myIssues.TotalCount" ng-model="issueParams.pageNumber"
                items-per-page="6" ng-change="reloadIssues()"
                max-size="9" boundary-links="true">
    </pagination>
    <!--<div>-->
        <!--{{myIssues}}-->
    <!--</div>-->
</div>

