<div class="page-header">
    <h1>{{projectById.Name}}<br/></h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4><b>Description</b></h4>
            {{projectById.Description}}<br/><br/>
            <small><b>Lead: </b>{{projectById.Lead.Username}}</small><br/>
            <small><b>Project Key: </b>{{projectById.ProjectKey}}</small><br/>
            <small><b>Labels:</b>
                <span ng-repeat="label in projectById.Labels">
                        <span class="label label-default">{{label.Name}}</span>
                </span>
            </small><br/>
            <small><b>Priorities:</b>
                <!--<span ng-repeat="">
                        <span class="label label-default"></span>
                </span>-->
            </small>
        </div>
    </div>
</div>
<!--
<div ng-if="">

</div>-->
<div class="col-md-4 col-md-offset-4 border">
    <center><h3>Add issue</h3></center>
    <form action="" name="addIssueForm">
        <label for="issue-title">Title</label>
        <input type="text" id="issue-title" required="required" class="form-control" ng-model="title"/>
        <br/>
        <label for="issue-description">Description</label>
        <input type="text" id="issue-description" required="required" class="form-control" ng-model="description"/>
        <br/>
        <label for="issue-due-date">Due Date</label>
        <input type="date" id="issue-due-date" required="required" class="form-control" ng-model="dueDate"/>
        <br/>
        <label for="issue-project">Project (id)</label>
        <input type="number" id="issue-project" class="form-control" required="required" ng-model="projectId"/>
        <br/>
        <label for="assigneeId">Assignee</label>
        <select class="form-control" name="assigneeId" id="assigneeId"
                ng-options="user.Id as user.Username for user in allUsers"
                ng-model="assigneeId">
        </select>
        <br/>
        <label for="issue-priority">Priority</label>
        <select class="form-control" name="issue-priority" id="issue-priority"
                ng-options="priority.Id as priority.Name for priority in issuePriorities"
                ng-model="priorityId">
        </select>
        <br/>

        <label for="issue-labelOne">Label</label>
        <input type="text" id="issue-labelOne" class="form-control" ng-model="labelOne"/>
        <br/>
        <label for="issue-labelTwo">Label</label>
        <input type="text" id="issue-labelTwo" class="form-control" ng-model="labelTwo"/>
        <br/>
        <button class="btn btn-primary" ng-disabled="addIssueForm.$invalid" ng-click="addIssue(title, description, dueDate, projectId, assigneeId, priorityId, labelOne, labelTwo)">Submit new issue</button>
    </form>
</div>