<div class="col-md-4 col-md-offset-2 border">
    <form action="" name="registerUserForm">
        <label for="email">*Email</label>
        <input type="email" id="email" required="required" class="form-control" ng-model="registerUser.email"/>
        <br/>
        <label for="reg-password">*Password</label>
        <input type="password" id="reg-password" required="required" min-length="6" max-length="100" class="form-control" ng-model="registerUser.password"/>
        <br/>
        <label for="reg-confirm-pass">*Confirm Password</label>
        <input type="password" id="reg-confirm-pass" required="required" min-length="6" max-length="100" class="form-control" ng-model="registerUser.confirmPassword"/>
        <br/>
        <label for="reg-name">Name</label>
        <input type="password" id="reg-name" class="form-control" ng-model="registerUser.name"/>
        <br/>
        <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid || registerUser.password != registerUser.confirmPassword" ng-click="register(registerUser)">Register</button>
    </form>
</div>